name: build

on:
  push:
    branches:
      - main
  pull_request:
    types: [ opened, labeled, unlabeled, synchronize ]

env:
  GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx4g -Dorg.gradle.daemon=false -Dkotlin.incremental=false"
  JAVA_VERSION: 25
  ANDROID_API_LEVEL: 36

jobs:
  build:
    name: Build
    runs-on: macos-latest

    permissions:
      checks: write
      pull-requests: write

    steps:
      - name: Checkout Project
        uses: actions/checkout@v6.0.2

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v5

      - name: Configure JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v5.2.0
        with:
          distribution: temurin
          java-version: ${{ env.JAVA_VERSION }}
          cache: gradle

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - run: ./gradlew --version

      - name: Run Ktlint Check On All Sources
        run: ./gradlew ktlintCheck -s

      - name: Build All
        run: ./gradlew build -s
