name: Dependency Submission

on:
  push:
    branches:
      - main

env:
  GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx4g -Dorg.gradle.daemon=false -Dkotlin.incremental=false"
  JAVA_VERSION: 25

permissions:
  contents: write

jobs:
  dependency-submission:
    runs-on: macos-latest

    steps:
      - name: Checkout Project
        uses: actions/checkout@v6.0.2

      - name: Configure JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v5.1.0
        with:
          distribution: temurin
          java-version: ${{ env.JAVA_VERSION }}

      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v5
